<div class="row">

  <div class="large-7 columns">
    <div class="row collapse">

      <%= form_for(@rank) do |f| %>
          <% if @rank.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@rank.errors.count, 'error') %> prohibited this rank from being saved:</h2>

                <ul>
                  <% @rank.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <div class="field">
            <%= f.label 'Keyword or keyword phrase:' %>
            <br/>
            <%= f.text_field :keyword, placeholder: 'keyword or keyword phrase' %>
          </div>

          <div class="field">
            <%= f.label 'Domain / URL:' %>
            <br/>

            <div class="small-3 columns">
              <span class="prefix radius">http://</span>
            </div>
            <div class="small-9 columns">
              <%= f.text_field :url, placeholder: "example.com" %>
            </div>

          </div>

          <div class="small-3 columns">
            <div class="actions submit-button">
              <%= link_to('Submit', '#', class: 'small button secondary', onclick: "document.getElementById('new_rank').submit()") %>
            </div>
          </div>

      <% end %>

    </div>
  </div>
  <div class="large-5"></div>

</div>
